@import "./mixins";

body {
  background: antiquewhite;
  bottom: 100px;
  height: 100vh;
  margin: auto;
  width: 80%;
  position: relative;
}

.page-header {
  @include flex-column
}

.restaurant-header {
  text-align: center;
}

.page-wrapper {
  @include flex-column;
  text-align: center;
  margin-bottom: 50px;
}

.menu-wrapper {
  border: 1px solid black;
  border-radius: 5px;
  margin: 40px;
}

.menu-item {
  color:blueviolet ;

  &-content {
    @include flex-column;
    align-self: center;
    background: #e5f0f0;
    border: 1px solid black;
    font-size: 2rem;
    margin: 30px;
    padding: 15px;
    width: 30%;
  }

  &-image {
    margin-top: 10px;
  }
}
